.calWeek {
    display:flex;
    justify-content: space-between;
    :global {
        .calDay {
            border: 2px solid pink;
            width: 100%;
            height: 150px;
        }
        .grayOut {
            background: gray;
        }
    }
}
.calHeader {
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
    :global {
        .header-item {
            border: 2px solid black;
            width: 100%;
            text-align: center;
        }
    }
}

.calYears {
    display: flex;
}

.currentDayNum {
    border-radius: 50%;
    background-color: #389c98;
    float: left;
    width: 25px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}